*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 420px; 
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
header {
    background-image: url(./Assents/header.webp);
    background-size: cover;
    background-repeat: repeat;
    padding: 85px 0 30px 0;
    width: 100%;
    font-family: "Great Vibes", cursive, sans-serif;
}
header h1 {
    font-size: 6rem;
    color: #d1897b;
    font-weight: 100;
    transform: rotate(-5deg);
}

header h2 {
    font-weight: 100;
    transform: rotate(-5deg);
    font-size: 2rem;
}
section{
    margin: 0 20px;
}
.reproductor {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    position: relative; /* Añadido */
}
.progress input[type="range"]::-webkit-slider-thumb {
    border: none;
    -webkit-appearance: none; /* Eliminar la apariencia predeterminada */
    width: 15px; /* Ancho de la bolita */
    height: 15px; /* Altura de la bolita */
    background: #000000; /* Color de fondo de la bolita */
    border-radius: 5%; /* Forma circular */
    cursor: pointer; /* Cursor de apuntar */
}
/* Estilo para Firefox */
.progress input[type="range"]::-moz-range-thumb {
    width: 15px; /* Ancho de la bolita */
    height: 15px; /* Altura de la bolita */
    background: #000000; /* Color de fondo de la bolita */
    border-radius: 5%; /* Forma circular */
    cursor: pointer; /* Cursor de apuntar */
}

/* Estilo para Edge e Internet Explorer */
.progress input[type="range" i]::-ms-thumb {
    width: 15px; /* Ancho de la bolita */
    height: 15px; /* Altura de la bolita */
    background: #000000; /* Color de fondo de la bolita */
    border-radius: 5%; /* Forma circular */
    cursor: pointer; /* Cursor de apuntar */
}
.song {
    padding-bottom: 20px;
    position: relative;
    margin-right: 10px;
}

.progress {
    width: 100px;
    height: 5px;
    background-color: #d1897b;
    border-radius: 10px;
}

/* .song .play y .song .pause no tienen posición absoluta */

.song img {
    height: 25px;
    cursor: pointer;
    top: 50%; 
}

/* Asegúrate de que .play y .pause tengan la misma posición */
.song .play {
    display: block;
    transform: translateY(10px);
}

.song .pause {
    display: none;
    transform: translateY(10px);
}

.musicfra .frase{
    margin: 0 auto;
    width: 300px;
    font-family: "Marcellus", sans-serif;
    font-size: 12px;
}
.line{
    margin: 30px auto;
    width: 1px;
    height: 50px;
    background-color: black;
}
.punto{
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    margin: 0 10px;
}
.bogota{
    font-family: "Marcellus", sans-serif;
    margin-bottom: 25px;
}
.dateCount h2{
    font-family: "Great Vibes", cursive, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    height: 50px;
}
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Marcellus", sans-serif;
    height: 20px;
}
.count{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.reception{
    padding-bottom: 30px;
}
.reception img{
    width: 60px;
}
.reception h4{
    font-family: "Great Vibes", cursive, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    height: 50px;
}
.reception p{
    font-family: "Marcellus", sans-serif;
    font-size: 1.5rem;
}

.location i{
    font-size: 1.5rem;
}
.location h4{
    margin: 10px auto;
    width: 150px;
    padding-top: 10px;
    font-family: "Marcellus", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    padding-bottom: 15px;
}
.location p{
    font-family: "Marcellus", sans-serif;
}
.map{
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-btn{
    font-family: "Marcellus", sans-serif;
    background-color: #d1897b;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 19px;
    font-size: 1.2rem;
}
.detail .lluvia{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Marcellus", sans-serif;
    font-size: 1.5rem;
    height: 20px;
}
.detail img{
    width: 50px;
}
.mono-tacon{
    position: relative;
    height: 100px;
}
.mono-tacon img{
    position: absolute;
}
.tacon{
    transform: translate(-50px);
    width: 80px;
}
.mono{
    width: 70px;
    transform: translate(-15px, 10px);
}
.dress-code h2{
    font-family: "Great Vibes", cursive, sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
    height: 50px;
}
.dress-code h3{
    font-family: "Marcellus", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.dress-code p{
    font-family: "Marcellus", sans-serif;
    font-size: 1.2rem;
    padding-bottom: 30px;
}
.form img{
    width: 100px;
    transform: rotate(-70deg);
}
.form h3{
    font-family: "Great Vibes", cursive, sans-serif;
    font-weight: 100;
    font-size: 2.3rem;
    margin-bottom: 10px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    height: 300px;
}
form p{
    transform: rotate(45deg);
    font-size: 2rem;
    padding-top: 50%;
}
footer{
    background-image: url(./Assents/footer.webp);
    background-size: cover;
    background-repeat: repeat;
    height: 300px;
}
#count{
    font-family: "Marcellus", sans-serif;

    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.simply-section{
    margin: 2px;
    flex-direction: column;
}
.simply-section div{
    display: flex;
    flex-direction: column;
}
.simply-amount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1.5px solid black;
}
.simply-word{
    margin-top: 5px;
    font-size: .7rem;
    color: #727272;
}