*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 420px; 
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
header {
    background-image: url(./Assents/header.webp);
    background-size: cover;
    background-repeat: repeat;
    padding: 85px 0 30px 0;
    width: 100%;
    font-family: "Great Vibes", cursive, sans-serif;
}
header h1 {
    font-size: 6rem;
    color: #d1897b;
    font-weight: 100;
    transform: rotate(-5deg);
}

header h2 {
    font-weight: 100;
    transform: rotate(-5deg);
    font-size: 2rem;
}
section{
    margin: 0 20px;
}
.song{
    padding-bottom: 20px;
}
.song img{
    width: 25px;
    cursor: pointer;
}
.musicfra .frase{
    margin: 0 auto;
    width: 300px;
    font-family: "Marcellus", sans-serif;
    font-size: 12px;
}
.line{
    margin: 30px auto;
    width: 1px;
    height: 50px;
    background-color: black;
}
.punto{
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    margin: 0 10px;
}
.bogota{
    font-family: "Marcellus", sans-serif;
    margin-bottom: 25px;
}
.dateCount h2{
    font-family: "Great Vibes", cursive, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    height: 50px;
}
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Marcellus", sans-serif;
    height: 20px;
}
.count{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.reception{
    padding-bottom: 30px;
}
.reception img{
    width: 60px;
}
.reception h4{
    font-family: "Great Vibes", cursive, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    height: 50px;
}
.reception p{
    font-family: "Marcellus", sans-serif;
    font-size: 1.5rem;
}

.location i{
    font-size: 1.5rem;
}
.location h4{
    margin: 10px auto;
    width: 150px;
    padding-top: 10px;
    font-family: "Marcellus", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    padding-bottom: 15px;
}
.location p{
    font-family: "Marcellus", sans-serif;
}
.map{
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-btn{
    font-family: "Marcellus", sans-serif;
    background-color: #d1897b;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 19px;
    font-size: 1.2rem;
}
.detail .lluvia{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Marcellus", sans-serif;
    font-size: 1.5rem;
    height: 20px;
}
.detail img{
    width: 50px;
}
.mono-tacon{
    position: relative;
    height: 100px;
}
.mono-tacon img{
    position: absolute;
}
.tacon{
    transform: translate(-50px);
    width: 80px;
}
.mono{
    width: 70px;
    transform: translate(-15px, 10px);
}
