*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 420px; 
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
header {
    background-image: url(./Assents/header.webp);
    background-size: cover;
    background-repeat: repeat;
    padding: 85px 0 30px 0;
    width: 100%;
    font-family: "Great Vibes", cursive, sans-serif;
}
header h1 {
    font-size: 6rem;
    color: #d1897b;
    font-weight: 100;
    transform: rotate(-5deg);
}

header h2 {
    font-weight: 100;
    transform: rotate(-5deg);
    font-size: 2rem;
}
section{
    margin: 0 20px;
}
.song{
    padding-bottom: 20px;
}
.song img{
    width: 25px;
}
.musicfra .frase{
    margin: 0 auto;
    width: 300px;
    font-family: "Marcellus", sans-serif;
    font-size: 12px;
}
.line{
    margin: 30px auto;
    width: 1px;
    height: 50px;
    background-color: black;
}
.punto{
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    margin: 0 10px;
}
.bogota{
    font-family: "Marcellus", sans-serif;
    margin-bottom: 25px;
}
.dateCount h2{
    font-family: "Great Vibes", cursive, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    height: 50px;
}
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Marcellus", sans-serif;
    height: 20px;
}
.count{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.reception{
    padding-bottom: 40px;
}
.reception img{
    width: 60px;
}
.reception h4{
    font-family: "Great Vibes", cursive, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    height: 50px;
}
.reception p{
    font-family: "Marcellus", sans-serif;
    font-size: 1.5rem;
}